body {
    background-color: #f8f9fa;
}

.custom-container {
    background-color: #dcdcdc;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}